.nav{ width:100%; background:#000; height:34px;}
.nav div{ width:1000px; margin:0 auto; color:#FFF; line-height:34px; font-size:14px; font-weight:bold;}
.nav div a{ line-height:34px; color:#FFF; font-size:14px; display:block; font-weight:bold;}
.myinfo{ float:left; display:block; width:735px; margin:20px 0 20px; background:url(../images/block_bg4.png) no-repeat left top;}
.myinfo ul{width:735px; height:122px;  margin-top:7px;background:url(../images/block_bg4.png) repeat-y -735px top; display:inline-block; position:relative;}
.myinfo ul li.avatar{ float:left; width:105px; padding:5px 0 5px 10px; display:block;}
.myinfo ul li.avatar img{ border:1px solid #ccc; width:80px; height:80px;}
.myinfo ul li.intro{ float:left; width:610px; padding-right:0; margin:0; height:78px; overflow:hidden;}
.myinfo ul li.intro span{ display:inline-block; font-size:12px; overflow:hidden; width:610px; line-height:24px;}
.myinfo ul li.intro span.name{ font-size:14px; font-weight:bold;}
.myinfo ul li.tab1,.myinfo ul li.tab2,.myinfo ul li.tab3{ float:left; font-size:12px; width:120px; height:35px; text-align:center; line-height:35px; position:}
.myinfo ul li.tab1 a,.myinfo ul li.tab2 a,.myinfo ul li.tab3 a{ color:#2870ca; display:block;}
.myinfo ul li.tab1 a:hover,.myinfo ul li.tab2 a:hover,.myinfo ul li.tab3 a:hover{ color:#e64e0c;}
.myinfo ul li a.sel{ background:url(../images/btn_tab_bg.png) no-repeat left top; font-weight:bold; color:#000;}
.myinfo ul li a.sel:hover{ color:#000;}
.myinfo div.bottom{ background:url(../images/block_bg4.png) no-repeat right top; width:735px; height:7px;}
.myinfo ul li.tab1{ position:absolute; top:94px; left:115px;}
.myinfo ul li.tab2{ position:absolute; top:94px; left:245px;}
.myinfo ul li.tab3{ position:absolute; top:94px; left:375px;}

.nocontent{ width:735px; line-height:50px; font-size:12px; text-align:center; margin-bottom:30px;}
.nocontent a{ color:#2870ca; font-weight:bold;}
.nocontent a:hover{ color:#e64e0c;}


.myhomeRight{
width:247px; float:right; margin-top:20px;
display: none;
}
.myhomeRight dt{text-align:center; font-size:14px; font-weight:bold; line-height:24px; padding-bottom:10px; color:#6e89b0;}
.myhomeRight dd{ display:block; clear:both;}
.myhomeRight dd .clear{ clear:both;}
.myhomeRight dd div.avatar{ float:left;padding-left:28px; width:47px;}
.myhomeRight dd div.avatar img{ width:40px; height:40px;behavior:url(../vendor-css/ie-css3.htc);border-radius: 5px;}
.myhomeRight dd div.info{float:left; width:168px; font-size:12px; margin-bottom:30px;}
.myhomeRight dd div.info span{ float:left; display:inline-block; width:158px;*width:148px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right:10px;}
.myhomeRight dd div.info span.name{padding-bottom:10px; font-weight:bold; color:#000;}
.myhomeRight dd div.info span a{ color:#2870CA;}
.myhomeRight dd div.info span a:hover{color:#e64e0c;}


/* traffic plan */
.trafficPlan{ padding:10px; margin:0 auto; margin-bottom:10px;}
.trafficPlan h1{ font-size:14px; height:37px; font-weight:bold; color:#6989AF; line-height:37px; border-bottom:1px solid #D2D2D2; padding:0 10px;}
.trafficPlan h1 span{ font-size:12px; color:#ABABAB; line-height:37px; font-weight:normal;}
.trafficPlan h1 a{ float:right; color:#7D4F29; font-size:12px; background:url(../images/btn_bg4.png) no-repeat left top; width:40px; height:27px; line-height:27px; text-align:center;}
.trafficPlan dl{ padding:1px 6px; background:url(../images/road_line.gif) repeat-y 2px top; clear:both;}
.trafficPlan dl dt{ position:relative; height:37px; line-height:37px; background:#EFEFEF url(../images/icon/point_cat.png) no-repeat 5px 4px; padding-right:20px; clear:both;}

.trafficPlan dl dt span{ position:absolute; display:block; width:20px; height:27px; background:url(../images/icon/sidebar_arrow.png) no-repeat left 10px; left:-4px; top:-1px;}
.trafficPlan dl dt.first span{ background-position:left bottom;}

.trafficPlan dl dt strong{ display:block; height:36px; padding-left:50px; background:url(../images/icon/arrow.png) no-repeat right 14px; color:#7F7D7D; font-weight:bold;}
.trafficPlan dl dt strong font{ color:#f00;}
.trafficPlan dl dt strong span{ font-size:12px; font-weight:normal; display:inline; background:none; position:static; float:none;}
.trafficPlan dl dd{ padding:3px 0 0 3px; clear:both; height:auto;}

.trafficPlan dd .trafficPoint{ float:left; width:450px; padding:1px; border:1px solid #D3D3D3; background:none; margin:0 3px 3px 0;}
.trafficPlan dd .trafficPoint .topbar{ padding:0; height:50px; background:#EFEFEF; width:100%; margin-bottom:1px;}
.trafficPlan dd .trafficPoint .topbar div{ display:inline-block; margin-top:4px; float:left;}
.trafficPlan dd .trafficPoint .topbar strong{ display:inline-block; padding:0; background:none; }
.trafficPlan dd .trafficPoint .topbar strong.num{ position:relative; top:0; padding:0 5px; padding-top:10px; font-weight:bold; color:#37ADC3; float:left;}
.trafficPlan dd .trafficPoint .topbar span.from,
.trafficPlan dd .trafficPoint .topbar span.to{ float:left; display:block; width:200px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#666; position:static; background:none; padding:5px 0 0 5px;}
.trafficPlan dd .trafficPoint .topbar span.from{ width:auto;}
.trafficPlan dd .trafficPoint .content{ padding:0; display:block; background:#F9F2E8; margin-top:10px 0 0 1px; font-size:12px; padding:5px 10px; height:80px;}
.trafficPlan dd .trafficPoint .content a{ display:block; background:url(../images/btn_bg3.png) no-repeat left top; width:96px; height:27px; margin-bottom:4px; text-align:center; color:#7D4F29; line-height:27px;}
.trafficPlan dd .trafficPoint .content textarea{ vertical-align:top;}
.trafficPlan dd .trafficPoint .content label{ display:inline-block; width:66px; text-align:right; font-weight:bold;}
.trafficPlan dd .trafficPoint .content span.right{ display:block; float:right; width:100px;}
.trafficPlan dd .trafficPoint .content span.left{ display:block; padding-bottom:5px; float:left; width:300px;}
.trafficPlan dd .trafficPoint .content span.left textarea{ width:200px; height:50px;}
/* traffic plan End */

/* myRoad List */
.myRoad{ float:left; width:735px;}
.myRoad ul{ display:block; clear:both; border: 1px solid #E3D7BF; margin-bottom:10px;}
.myRoad li.top{ background:#FFF9E1; padding:10px; border-bottom:1px dotted #999;}
.myRoad li.top .day{ float:left; font-size:30px; font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; color:#CCC; text-align:center; width:62px;}
.myRoad li.top .day span{ display:block; width:62px; height:62px; background:url(../images/icon/day_bg.png) no-repeat left top; text-align:center; line-height:62px; color:#FFF;}
.myRoad li.top .rightInfo{ float:right; padding-left:10px; }
.myRoad li.top h2{ clear:both; line-height:27px;}
.myRoad li.top h2 a{ font-size:14px; font-weight:bold; color:#276FC9;}
.myRoad li.top h2 span{ float:right;}
.myRoad li.top h2 span a{
	font-weight:normal; color:#7D4F29; display:block; text-align:center; background:url(../images/btn_bg4.png) no-repeat left top; width:40px; height:27px; line-height:27px; font-size:12px;
	margin-left: 10px;
	float:left;
}
.myRoad li.top .user{ float:left; font-size:12px; color:#999; margin-left:10px; }
.myRoad li.top .user a{font-size:14px; color:#276FC9; font-weight:bold;}
.myRoad li.top img{
	display:block;
	width: 40px;
	height: 40px;
	margin:10px;
}

.myRoad li.bottom{ font-size:12px; color:#999; background:#FFF; padding:10px; position:relative;}
.myRoad li.bottom a{ color:#276FC9; font-weight:bold;}
.myRoad li p.city{ clear:both; padding:5px 0;}
.myRoad li p.city a{ display:inline-block; background: url(../images/plan_btn_bg.png) no-repeat left top; height:30px; padding-left:4px; margin-right:10px;}
.myRoad li p.city a span{ height:30px; display:block; background: url(../images/plan_btn_bg.png) no-repeat right bottom; padding-right:4px;}
.myRoad li p.city a font{ height:30px; display:block; background: url(../images/plan_btn_bg.png) repeat-x left -30px; line-height:30px; font-size:14px; color:#6A89B0;}
.myRoad li p.pointNum{ clear:both; height:40px;}
.myRoad li p.pointNum span{ display:inline-block; float:left; height:40px; line-height:40px; padding-left:36px; width:32px; color:#BD5122; font-size:14px; background:url(../images/icon/point_view.png) no-repeat left top;}
.myRoad li p.pointNum .attraction{ background-position:-100px top;}
.myRoad li p.pointNum .restaurant{ background-position:-300px top}
.myRoad li p.pointNum .hotel{ background-position:-200px top}
.myRoad li p.pointNum .traffic{ background-position:-left top}
.myRoad li span.time{ position:absolute; right:10px; bottom:10px;}

.myRoad .list li.top h2 span a{ margin-left:10px; background:url(../images/btn_bg3.png) no-repeat left top; width:96px; height:27px; float:right;}
.myRoad .list li.top h2 span{ float:right; width:220px;}
.myRoad .list li.top{ background:#FFF;}
.myRoad .list li.bottom strong{ font-weight:bold;}
.myRoad .list li.bottom p{ padding:15px 0;}
.myRoad .list li.top p a{ font-weight:bold;}

/* myRoad List End */
