@charset "utf-8";
/* CSS Document */
body{ height:100%; width:100%;}
html{ width:100%; background:#dfdfdd;}
@-moz-document url-prefix() {}

/*Header*/
.header{ width:100%; clear:both; background:url(../images/header_bg.png) repeat-x left top;position:relative;z-index:2; position:relative;}
.header .container{ width:1000px; margin:0 auto; height:63px; background:url(../images/header_bg.png) repeat-x left top;}
.header .container a.logo{ display:block; float:left; padding-top:10px;}
.header .container div.user_switch{ float:left; width:145px; padding:10px 10px 0 5px;height:53px; position:relative; background:url(../images/user_switch.png) no-repeat 144px top; cursor:pointer;font-family:"tahoma","simsun";}
.header .container div.user_switch.sel{ float:left;background:url(../images/user_switch.png) no-repeat 144px -40px;}
.header .container div.user_switch a.user{float:left; font-size:12px; color:#630;}
.header .container div.user_switch a.user img{float:left;}
.header .container div.user_switch a.user span{ float:left;width:100px; overflow:hidden; line-height:40px;overflow: hidden;white-space:nowrap; -o-text-overflow:ellipsis;text-overflow:ellipsis; cursor:pointer;}
.header .container div.user_switch ul{width:158px; background:#FFF; border:1px solid #cc9933; position:absolute; right:0px; top:63px; display:none;}
.header .container div.user_switch ul li{ float:left; width:158px; line-height:41px;}
.header .container div.user_switch ul li:hover{ background:#f2f2f2;}
.header .container div.user_switch ul li a{ display:block;font-size:12px; text-indent:45px; border-bottom:1px solid #ccc;background:url(../images/icon/header_icon.png) no-repeat left top; color:#000;}
.header .container div.user_switch ul li a.road{ background-position:15px top;}
.header .container div.user_switch ul li a.want{ background-position:15px -41px;}
.header .container div.user_switch ul li a.got{ background-position:15px -81px;}
.header .container div.user_switch ul li a.help{ background-position:15px -124px;}
.header .container div.user_switch ul li a.logout{ background-position:15px bottom}
.header .container div.login{float:left;margin:0px 22px;}
.header .container div.login img{ float:right;padding-top:20px;}
.header .container .menu{float:left;width:505px; height:63px; margin-left:50px; font-family:"Microsoft Yahei","simsun"; position:relative;}
.header .container .menu li{ float:left; margin-right:5px; width:100px;background:url(../images/menu_dot.png) no-repeat left center;}
.header .container .menu li.w80{ width:80px; background:none;}
.header .container .menu li.sel{ background:url(../images/target_explorer.png) no-repeat 5px 12px;}
.header .container .menu li a{line-height:63px; text-align:center; display:block;line-height:63px; color:#333300;}
.header .container .menu li a.sel{background:url(../images/menu_sel.png) no-repeat center center; color:#ffcc99;}

.header .container .menu .target_explorer{position:absolute; left:90px; top:63px;width:498px;background:#FFF;border:1px solid #e9b654; border-top:0 none; font-size:12px; padding-top:5px;padding-bottom:15px; display:none;z-index:999;}
.header .container .menu .target_explorer h3{ float:left;width:70px; text-align:right; padding-right:5px;padding-top:5px; font-weight:bold;}
.header .container .menu .target_explorer h3 a{ display:inline-block; line-height:20px;}
.header .container .menu .target_explorer h3 span.hot{ color:#F00;}
.header .container .menu .target_explorer ul{float:left; width:410px; padding-top:5px; margin-right:10px;}
.header .container .menu .target_explorer ul li{float:left; background:none; width:auto; margin:0; padding:0;}
.header .container .menu .target_explorer ul li a{padding-left:8px; line-height:20px;}
.header .container .menu .target_explorer ul li a:hover{color:#e64e0c;}

.header .container .wl_switch{float:left;width:140px; font-size:12px; font-family:"tahoma","simsun"; margin-top:12px; height:51px;}
.header .container .wl_switch .wl_toggle{ width:140px; height:51px;background:url(../images/wl_switch.png) no-repeat left top;}
.header .container .wl_switch .wl_toggle.sel{background:url(../images/wl_switch.png) no-repeat left bottom;}
.header .container .wl_switch .wl_toggle a{display:block; padding-top:10px; padding-left:10px; line-height:18px; color:#630;blr:expression(this.onFocus=this.blur());}
.header .container .wl_switch .wl_toggle a b{ color:#ff0000; font-weight:normal;}

.header .container .wl_popup{ width:100%; position:absolute; left:0; top:63px; background:#fff; font-size:12px;  display:none;}
.header .container .wl_popup a{display:block; padding-top:10px; padding-left:10px; line-height:18px; color:#630;blr:expression(this.onFocus=this.blur());}
.header .container .wl_popup a b{ color:#ff0000; font-weight:normal;}
.header .container .wl_popup .tab_bar{ width:100%; margin:0 auto; height:34px; border-bottom:1px solid #e3d8bf;}
.header .container .wl_popup .tab_bar ul.ul_tab{width:1000px; margin:0 auto; padding-top:3px;}
.header .container .wl_popup .tab_bar ul.ul_tab li{float:left;width:80px; line-height:31px; text-align:center; color:#999; border-top:1px solid #e3d8bf; border-left:1px solid #e3d8bf; background:#f3ebd7;}
.header .container .wl_popup .tab_bar ul.ul_tab li a{display:block; line-height:31px; padding:0; margin:0;}
.header .container .wl_popup .tab_bar ul.ul_tab li b{ color:#999;}
.header .container .wl_popup .tab_bar ul.ul_tab li.title{ border:0 none; padding-top:2px; padding-left:15px; width:65px; line-height:30px; background:none;}
.header .container .wl_popup .tab_bar ul.ul_tab li.tab{width:auto;border:0px;}
.header .container .wl_popup .tab_bar ul.ul_tab li.tab ul li.sel{ background:#fff;}
.header .container .wl_popup .tab_bar ul.ul_tab li.tab ul li.sel b{color:#f00;}

.header .container .wl_popup .tab_bar ul.ul_tab li.more{ border-right:1px solid #e3d8bf; width:23px;}
.header .container .wl_popup .tab_bar ul.ul_tab li.btn_plan{width:100px; margin-left:40px; background:none; border:0 none; margin-top:3px;}
.header .container .wl_popup .tab_bar ul.ul_tab li.btn_plan button{ float:left;background:url(../images/btn_bg1.png) no-repeat left top; border:0 none; width:100px; height:25px; line-height:25px;}
.header .container .wl_popup .tab_bar ul.ul_tab li.btn_plan button::-moz-focus-inner{border:none;padding:0;}
.header .container .wl_popup .tab_bar ul li.clear{width:100px; margin-left:40px; background:none; border:0 none; margin-top:3px;}
.header .container .wl_popup .tab_bar ul li.clear button{ float:left;background:url(../images/btn_bg1.png) no-repeat left top; border:0 none; width:100px; height:25px; line-height:25px;}
.header .container .wl_popup .tab_bar ul li.clear button::-moz-focus-inner{border:none;padding:0;}


.header .container .wl_popup .wl{ width:100%; position:absolute; left:0; top:35px; line-height:135px; background:#fff;  overflow-y:hidden;overflow-x:scroll;white-space:nowrap; height:135px;}
.header .container .wl_popup .wl li{ float:left; width:170px;}
.header .container .wl_popup .wl li.btn_category{ width:110px; margin-left:50px;}
.header .container .wl_popup .wl li.btn_category ul li{ float:left;width:93px; height:28px;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffffff, endColorstr=#ffe4e4e4);background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#ffffff), to(#e4e4e4));background: -moz-linear-gradient(top, #ffffff, #e4e4e4); border:1px solid #cac0aa; margin:5px 0; line-height:28px; text-indent:34px;}
.header .container .wl_popup .wl li.btn_category ul li a{ display:block; line-height:28px; margin:0; padding:0; width:95px; background:url(../images/icon/category_icon.png)  no-repeat left top;}
.header .container .wl_popup .wl li.btn_category ul li a b{ margin-left:3px;}
.header .container .wl_popup .wl li.btn_category ul li.sel{ background:#fee8b0;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fffee8b0, endColorstr=#fffee8b0); height:26px; border:1px solid #e5ad3e;}
.header .container .wl_popup .wl li.btn_category ul li.sel a{ border-top:1px solid #fff; height:27px; line-height:26px; margin:0; padding:0; width:93px;}

.header .container .wl_popup .wl li.btn_category ul li a.attraction{ background-position:5px top;}
.header .container .wl_popup .wl li.btn_category ul li.sel a.attraction{background-position:5px -92px;}
.header .container .wl_popup .wl li.btn_category ul li a.hotel{ background-position:5px -30px;}
.header .container .wl_popup .wl li.btn_category ul li.sel a.hotel{ background-position:5px -122px;}
.header .container .wl_popup .wl li.btn_category ul li a.restaurant{ background-position:5px -60px;}
.header .container .wl_popup .wl li.btn_category ul li.sel a.restaurant{ background-position:5px -152px;}

.header .container .wl_popup .wl li ul.list{width:2800px; padding-top:15px;}
.header .container .wl_popup .wl li ul.list li{float:left; width:170px;margin:0 5px;position:relative;display:inline-block;}
.header .container .wl_popup .wl li ul.list li a{ display:block; margin:0; padding:0;}
.header .container .wl_popup .wl li ul.list li img{ width:170px; height:90px; margin:0; padding:0;}
.header .container .wl_popup .wl li ul.list li div.info_bg{position:absolute; left:0px; top:66px; width:170px; background-color:rgba(0,0,0,0.7)!important;filter:Alpha(opacity=70);background:#000; line-height:24px;height:24px;}
.header .container .wl_popup .wl li ul.list li div.info{position:absolute; left:0px; top:66px; width:170px; height:24px; line-height:24px; color:#FFF;}
.header .container .wl_popup .wl li ul.list li div.info span{ position:relative; float:left;display:inline-block; width:135px; text-indent:5px;overflow: hidden;white-space:nowrap; -o-text-overflow:ellipsis;text-overflow:ellipsis;}
.header .container .wl_popup .wl li ul.list li div.info b{ position:relative;float:left;width:30px; color:#fff; text-align:right; padding-right:5px;}
.header .container .wl_popup .wl li ul.list li button{ display:none;position:absolute; right:0; top:0px; width:18px; height:18px;background:url(../images/icon/close_icon.png) no-repeat left top;text-indent:-200px; overflow:hidden; border:0 none; cursor:pointer;}

.header .container div.line{ width:2px; float:left; background:url(../images/header_line.png) no-repeat left top; height:63px; padding-top:0;}
/*Header End*/

/* Wrapper */
.wrapper{ width:100%; margin:0 auto; position:relative;}
.wrapper .top{background:#f2e8d0; height:35px; line-height:35px;color:#FFF; font-weight:bold; font-size:14px;}
.wrapper .top ul{ width:980px; margin:0 auto; padding-left:20px;}
.wrapper .top ul li{ float:left; width:150px; color:#999; line-height:35px; font-size:12px; font-weight:normal;}
.wrapper .top ul li span{color:#fff; width:15px; padding-right:5px; height:15px; font-weight:normal; line-height:15px; background:url(../images/icon/step_icon.png) no-repeat left center; display:inline-block; text-indent:4px;}
.wrapper .top ul li.search_bar{width:185px; padding-top:4px;}
.wrapper .top ul li.search_bar input{float:left;height:28px; width:144px; padding:0 4px; background:url(../images/inputbox_bg.png) left top; border:0 none;*line-height:28px; line-height:28px\0/;}
.wrapper .top ul li.search_bar a{ float:left;background:url(../images/icon/search_icon.png) no-repeat left top; width:29px; height:28px; display:block; }
.wrapper .top ul li.search_bar a:hover{background:url(../images/icon/search_icon.png) no-repeat left bottom;} 
.wrapper .top ul li.btn_plan{width:100px; padding-top:6px; margin-left:20px;}
.wrapper .top ul li.btn_plan button{ float:left;background:url(../images/btn_bg1.png) no-repeat left top; border:0 none; width:100px; height:25px; line-height:25px;}
.wrapper .top ul li.btn_plan button::-moz-focus-inner{border:none;padding:0;}

/*choose_target*/
.wrapper .choose{ clear:both; margin-bottom:130px;}
.wrapper .choose .container{ width:1000px; height:273px; margin:0 auto; position:relative;}
.wrapper .choose-city-wrapper {
	position: absolute;
	left: 0;
	top: 200px;
	padding: 10px;
	background: white;
	z-index: 1000;
}


.filter{ width:1000px; position:absolute;left:0; top:255px; height:138px; background:url(../images/filter_bg.png) repeat-x left top; z-index:1;}
.filter .cursor{position:absolute; left:40px; top:30px;}
.filter li.tips{ padding-top:10px; text-indent:40px; font-size:12px; color:#999; line-height:12px;}
.filter li.slide_bg{margin:0 auto; width:915px; background:url(../images/slide_bar_bg.png) no-repeat left top; height:19px; margin-top:15px;}
.filter li.price{ padding-top:15px; padding-left:30px; font-size:14px; line-height:12px; display:block;}
.filter li.result{ width:915px; margin:0 auto; padding-top:20px; font-size:12px; color:#999;}
.filter li.result a{ color:#4580ca; font-weight:bold; margin-left:5px;}
.filter li.result b{ font-weight:normal; color:#f00;}
/* Wrapper End*/

/* Main */
.main{width:1000px; margin:0 auto; clear:both;}
.main dl.full dd{ float:left; display:block; width:240px; background:url(../images/block_bg3.png) no-repeat left top; margin:0 5px; padding-bottom:14px;}
.main dl.full dd a img{display:block;}
.main dl.full dd div.bg{ position:relative; width:223px; background:url(../images/block_bg3.png) repeat-y -240px top; padding:0 8px; margin-top:6px;}
.main dl.full dd div.bg img{ display:block;}
.main dl.full dd div.bg div.description{width:223px; height:187px; display:none; overflow:hidden; font-size:12px;position:absolute; left:8px; top:0;}
.main dl.full dd div.bg div.white_bg{ width:223px; height:187px; background:#fff; position:absolute; left:0; top:0;FILTER: alpha(opacity=90); opacity:0.9; -moz-opacity:0.9; z-index:1;}
.main dl.full dd div.bg div.enter_info{position:absolute; left:0; top:0; z-index:2;}
.main dl.full dd div.bg div.description h3{ z-index:2; font-size:14px; padding:3px;height: 14px;overflow: hidden;}
.main dl.full dd div.bg div.description p{ font-size:12px; line-height:15px; text-indent:20px; padding:0 5px;}
.main dl.full dd div.bg div.stat{width:215px; height:36px;font-size:12px; line-height:36px;}
.main dl.full dd div.bg div.stat a{ color:#4580ca;}
.main dl.full dd div.bottom{ background:url(../images/block_bg.png) repeat-y right bottom; height:6px; overflow:hidden; *margin-top:-1px;}

.main .w850{ width:840px; display:block; position:relative; float:left; padding:0 5px; background:#efefef; border-top:1px dashed #999; padding-bottom:15px;}
.main .w850 dd{ float:left; display:block; width:200px; background:#fff; margin:0 5px; margin-top:14px;}
.main .w850 dd a img{display:block;}
.main .w850 dd div.bg{ position:relative; width:200px;padding:0 2px; padding-top:2px;}
.main .w850 dd div.bg img{ display:block; width:196px; height:138px;}
.main .w850 dd div.bg div.description{width:196px; height:138px; display:none; overflow:hidden; font-size:12px;position:absolute; left:2px; top:2px;}
.main .w850 dd div.bg div.white_bg{ width:196px; height:138px; background:#fff; position:absolute; left:0px; top:0;FILTER: alpha(opacity=90); opacity:0.9; -moz-opacity:0.9; z-index:1;}
.main .w850 dd div.bg div.enter_info{position:absolute; left:0; top:0; z-index:2;}
.main .w850 dd div.bg div.description h3{ z-index:2; font-size:14px; padding:3px;height: 14px;overflow: hidden;}
.main .w850 dd div.bg div.description p{ font-size:12px; line-height:15px; text-indent:20px; padding:0 5px;}
.main .w850 dd div.bg div.stat{width:200px; height:36px;font-size:12px; line-height:36px;}
.main .w850 dd div.bg div.stat a{ color:#4580ca;}
.main .w850 dd div.bg div.view{position:absolute; left:2px; top:2px; z-index:2; background:url(../images/eyes.png) no-repeat center center; width:196px; height:138px;}
.main .w850 dd div.bg div button.remove,.main .w850 dd div.bg div button.remove_ed{ position:absolute; right:10px; top:112px; width:72px; border:1px solid #bbb; background:#FFF; font-size:12px; text-align:center; line-height:20px; z-index:3; color:#000;cursor:pointer;}
.main .w850 dd div.bg div button.remove{ display:block; background:#504950; color: white; border: none}
.main .w850 dd div.bg div button.remove_ed{cursor:default; background: #F27902;}

/* page_container */
.page_container{ width:100%; line-height:26px; height:26px;text-align:center; margin-top:20px;}
.page_container .page{position:relative;left:50%;float:left;}
.page_container .page li{ float:left;width:28px; height:26px; border:1px solid #ccc;margin:0 5px; line-height:26px;position:relative;right:50%;}
.page_container .page li a{ display:block;line-height:26px;}
.page_container .page li a:hover{ background:#e64e0c; color:#FFF;}
.page_container .page li.sel{ background:#e64e0c; color:#FFF;}
.page_container .page li.more{ border:none;}
.page_container .page li.begin{ border:none;}
.page_container .page li.begin a{ background:url(/sta/images/page_btn.png) no-repeat left -56px; display:block; width:28px; height:28px; line-height:28px;}
.page_container .page li.begin a:hover{ background:url(/sta/images/page_btn.png) no-repeat left top;}
.page_container .page li.end{ border:none;}
.page_container .page li.end a{ background:url(/sta/images/page_btn.png) no-repeat left -84px; display:block; width:28px; height:28px; line-height:28px;}
.page_container .page li.end a:hover{ background:url(/sta/images/page_btn.png) no-repeat left -28px;}
.page_container .page li.prev{ border:none;}
.page_container .page li.prev a{ background:url(/sta/images/page_btn.png) no-repeat left -112px; display:block; width:28px; height:28px; line-height:28px;}
.page_container .page li.prev a:hover{background:url(/sta/images/page_btn.png) no-repeat left -168px;}
.page_container .page li.next{border:none;}
.page_container .page li.next a{ background:url(/sta/images/page_btn.png) no-repeat left -140px; line-height:28px; display:block; height:28px;}
.page_container .page li.next a:hover{ background:url(/sta/images/page_btn.png) no-repeat left -196px;} 

/* search result */
div.main div.title{font-size:14px; font-weight:bold; text-indent:20px; line-height:35px; background:#efefef;}
div.title div.span{color:red;}
.wrapper_left{ float:left;width:150px; background:#868686; padding-top:15px; font-size:12px; font-weight:bold; text-indent:60px;}
.wrapper_left li{ float:left; width:150px;line-height:52px;}
.wrapper_left li.sel{ background:#fff;}
.wrapper_left li a{ display:block; background:url(../images/icon/category_icon2.png) no-repeat left top; color:#fff;}
.wrapper_left li a span{ line-height:52px;width:40px;}
.wrapper_left li a.attraction{ background-position:10px top;}
.wrapper_left li a.attraction.sel{ background-position:10px -52px; color:#000;}
.wrapper_left li a.hotel{ background-position:10px -104px;}
.wrapper_left li a.hotel.sel{ background-position:10px -156px; color:#000;}
.wrapper_left li a.restaurant{ background-position:10px -208px;}
.wrapper_left li a.restaurant.sel{ background-position:10px -260px; color:#000;}

.wrapper_right{ float:left; width:840px;}
.no_result{width:850px;height:400px;text-align:center;margin:20px auto;}
/* search result end */


/* Footer */
.footer{ clear:both; width:100%; text-align:center; margin-top:50px;background:url(../images/footer_bg.png) repeat-x left top; height:96px;}
.footer_inner{ width:1000px; margin:0 auto;background:url(../images/footer_bg.png) repeat-x left top; height:96px;}
.footer .inner{width:470px; margin:0 auto; font-size:12px; padding-top:20px;}
.footer .inner a{ width:50px; padding:0 15px;}
.footer .inner a:hover{color:#e64e0c;}
.footer .copyright{width:470px; margin:0 auto; font-size:12px; color:#938d8d; padding-top:20px;}
/* Footer End */

