@import "compass";
@charset "utf-8";
.headerw {
  position: fixed;
}

.main-content {
  position: relative;
  top: 98px;
}

.plan_title {
	height: 37px;
	clear: both;
	width: 100%;
	background: #666;
	position: fixed;
	top: 98px;
	z-index: 1;
	.width {
		width: 1000px;
		margin: 0 auto;
	}

	h2 {
		float: left;
		line-height: 37px;
		height: 37px;
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
		width: 300px;
	}

	h2 input {
		display: none;
		font-weight: normal;
		font-size: 14px;
		width: 200px;
	}

	.date input {
		background: none;
		border: 0;
		color: #FFF;
	}

	.date {
		float: left;
		height: 37px;
		line-height: 37px;
		color: #FFF;
		font-size: 12px;
	}

	img {
		vertical-align: text-bottom;
		cursor: pointer;
	}
	.btn {
		float: right;
		padding-top: 5px;
		button {
			cursor: pointer;
		}

		.optimize {
			background: url(../images/plan/optimize_all.png) no-repeat left top;
			width: 86px;
			height: 26px;
			border: none;
			text-indent: -200px;
			overflow: hidden;
		}

		.optimize.doing {
			background-position: right top;
		}

		.next {
			background: url(../images/plan/nextStep.png) no-repeat left top;
			width: 80px;
			height: 26px;
			text-indent: -200px;
			overflow: hidden;
			border: none;
		}
	}
}

.bigMap {
	width: 100%;
	position: fixed;
	left: 0;
	top: 135px;
	.map {
		width: 100%;
		height: 100%;
	}
}


.plan {
	width: 100%;
	height: 800px;
	position: relative;
	clear: both;

	.cityChoose {
		position: fixed;
		left: 220px;
		top: 155px;
		z-index: 2;
		a {
			display: block;
			float: left;
			background: url(../images/plan/city_choose.png) no-repeat left top;
			height: 26px;
			line-height: 22px;
			padding-left: 5px;
			margin-right: 5px;
			span {
				display: block;
				padding-right: 8px;
				height: 26px;
				line-height: 20px;
				font-size: 12px;
				background: url(../images/plan/city_choose.png) no-repeat right -26px;
			}

			&.sel {
				background-position: left -52px;
				span {
					background-position: right -78px;
					color: #FFF;
				}
			}
		}
	}

	&.no-current-day{
		.prevDay, .nextDay {
			display: none;
		}
	}

	.prevDay, .nextDay {
		position: absolute;
		left: 180px;
		top: 87px;
		width: 20px;
		height: 75px;
		background: #F90;
		text-align: center;
		font-size: 12px;
		cursor: pointer;
		span {
			font-size: 20px;
			display: block;
			margin: 0 auto;
		}
	}

	.prevDay {
		left: 10px;
	}

	dl.day {
		position: absolute;
		left: 10px;
		top: 40px;
		width: 150px;
		font-size: 12px;
		@include box-shadow(3px 3px 9px #666);
		z-index: 0;
		dt {
			background-color: #BFDFFF;
			height: 35px;
			clear: both;
			display: block;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			color: #FFF;
			padding: 5px;
			font-family: 'Microsoft YaHei', SimHei, 'LiHei Pro Medium';
			position: relative;
			cursor: pointer;
			z-index: 1;
			a.del {
				display: none;
				width: 30px;
				height: 25px;
				color: #FFF;
				font-size: 12px;
				font-weight: normal;
				padding-top: 20px;
				position: absolute;
				left: 0;
				top: 0;
				background: #cc0000 url(../images/icon/delDay.png) no-repeat center 8px;
			}
			span.open {
				position: absolute;
				right: 0;
				top: 0;
				display: none;
				width: 35px;
				height: 25px;
				font-size: 12px;
				font-weight: normal;
				text-align: left;
				padding-left: 85px;
				padding-top: 20px;
				color: #999;
				background: url(../images/plan/arrow_up.png) no-repeat 90px 10px;
			}
			&:hover {
				a.del {
					display: block;
				}
				span.open {
					display: block;
				}
			}
			span.date {
				font-size: 8px;
				color: #000;
				display: block;
				font-weight: normal;
				font-family: Arial, Helvetica, sans-serif;
			}
			.optimize {
				display: none;
			}
		}
		dd {
			background: #FFF;
			padding: 5px;
			position: relative;
			overflow: visible;
		}
		ul.acs {
			min-height: 70px;
		}
		li {
			margin-bottom: 5px;
		}
		li.empty {
			border: 1px dotted #999;
			width: 138px;
			height: 70px;
			text-align: center;
			line-height: 70px;
			color: #666;
		}
		li.moveTime {
			text-align: center;
			color: #666;
			a {
				color: #09F;
			}
			div {
				color: #666;
				display: none;
				text-align: left;
				display: none;
			}
			b.collapse {
				display: none;
			}
			&.expanded {
				b.expand {
					display: none;
				}
				b.collapse {
					display: inline;
				}
				div {
					display: block;
				}
			}

			p {
				text-align: left;
				&.stepName {
					font-weight: bold;
					color: #000;
				}
			}
			hr {
				display: block;
				height: 1px;
				overflow: hidden;
				line-height: 1px;
				background-color: #CCC;
				border: none;
			}
		}
		div.mini {
			position: absolute;
			left: 0;
			top: -55px;
			width: 150px;
			height: 10px;
			overflow: visible;
			ul.acs {
				position: absolute;
				bottom: 0;
				background: #FFF;
				width: 140px;
				padding: 0 5px;
				visibility: visible;
				@include box-shadow(3px 3px 9px #666);
				min-height: 20px;
			}
			li {
				margin-bottom: 0;
			}
			li.empty {
				height: 15px;
				line-height: 15px;
			}
		}
		&.current {
			div.mini {
				display: none;
			}
			dt .optimize {
				display: block;
				position: absolute;
				left: 35px;
				top: -30px;
				cursor: pointer;
			}
			dt:hover a.del {
				display: block;
			}
		}
	}

	dl.day.current, dl.dayAdd {
		dt, dt:hover {
			background: #FFD24D;
		}
	}

	&.has-current-day dl.day.current {
		dt:hover span.open {
			display: none;
		}
		dt {
			cursor: auto;
		}
	}
	&.no-current-day dl.day.current {
		dt .optimize {
			display: none;
		}
		div.mini {
			display: block;
		}
	}

	.days.hide-mini div.mini {
		display: none;
	}

	dl.dayAdd dt {
		line-height: 35px;
	}
}


li.ac.mini {
	margin: 3px 0;
	cursor: move;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	word-break: keep-all;
	span.remove {
		width: 12px;
		height: 12px;
		background: url(../images/del.png) no-repeat;
		top: 3px;
		right: 0;
	}
}

body > li.ac {
	background: white;
	border: solid 1px gray;
	&:hover span.remove {
		display: none;
	}
}

.footer {
  position: relative;
  top: 98px;
  display: none;
}

/* poi_list */
.poi_list {
	position: relative;
	width: 660px;
	background: #fff;
	font-size: 12px;
	padding: 0 20px;

	h3 {
		width: 660px;
		font-size: 36px;
		font-weight: bold;
		padding-top: 20px;
		span {
			width: 100px;
			display: inline-block;
		}
	}

	p {
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
	}

	.poi_category {
		padding-top: 20px;
		width: 660px;
		margin-bottom: 10px;
		border-bottom: 1px solid #000;
		li {
			position: relative;
			float: left;
			display: block;
			width: 40px;
			margin-right: 20px;
		}

		li.sel .tabarrow {
			position: absolute;
			left: 10px;
			top: 63px;
			width: 19px;
			height: 9px;
			background: url(../images/icon/tabarrow.png) no-repeat center bottom;
		}

		li a {
			display: block;
			background: url(../images/icon/menu_point.png) no-repeat left top;
			line-height: 35px;
			padding-top: 35px;
			text-align: center;
			font-weight: bold;
			&.sight {
				background-position: left top;
			}

			&.hotel {
				background-position: -97px 0;
			}

			&.hotel {
				background-position: -194px 0;
			}

			&.sight.sel {
				background-position: left -80px;
				color: #9359a3;
			}

			&.hotel.sel {
				background-position: -97px -80px;
				color: #9359a3;
			}

			&.hotel.sel {
				background-position: -194px -80px;
				color: #9359a3;
			}
		}
		li.poi_search {
			float: right;
			width: 185px;
			line-height: 35px;
			padding-top: 4px;
			margin-right: 10px;
			input {
				float: left;
				width: 144px;
				height: 28px;
				border: 0 none;
				color: #999;
				padding: 0 4px;
				line-height: 28px;
				background: url(../images/inputbox_bg.png) no-repeat left top;
			}

			button {
				float: left;
				background: url(../images/icon/search_icon.png) no-repeat left top;
				width: 29px;
				height: 28px;
				display: block;
				border: 0 none;
			}
		}
	}
	.poi {
		width: 660px;
	}

	.poi li {
		float: left;
		position: relative;
		display: inline-block;
		width: 140px;
		margin-left: 20px;
		margin-bottom: 10px;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		a {
			display: block;
			margin: 0;
			padding: 0;
			color: #000;
			margin-bottom: 2px;
		}

		img {
			width: 140px;
			height: 90px;
			margin: 0;
			padding: 0;
		}

		div.info_bg {
			position: absolute;
			left: 0px;
			top: 66px;
			width: 140px;
			@include opacity(0.7);
			background: #000;
			line-height: 24px;
			height: 24px;
		}

		div.info {
			position: absolute;
			left: 0px;
			top: 66px;
			width: 140px;
			height: 24px;
			line-height: 24px;
			color: #FFF;
			span {
				position: relative;
				float: left;
				display: inline-block;
				width: 140px;
				text-indent: 5px;
				overflow: hidden;
				white-space: nowrap;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
		}

		button {
			display: block;
			position: absolute;
			right: 0;
			top: 0px;
			width: 64px;
			height: 25px;
			border: 0 none;
			cursor: pointer;
			background: #504950;
			color: #fff;
		}
	}
}
/* poi_list end */

/* Page */
.page_container {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	float: left;

	ul {
		margin: 0 auto;
	}

	li {
		display: inline;
	}

	span, a {
		display: inline-block;
		margin: 0 auto;
		width: 26px;
		height: 26px;
		border: 1px solid #999;
		line-height: 28px;
		text-align: center;
	}

	span {
		color: #fff;
		background: #e64e0c;
	}

	a:hover {
		background: #e64e0c;
		color: #FFF;
	}

	a.begin {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -56px;
		border: 0 none;
	}

	a.end {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -84px;
		border: 0 none;
	}

	a.prev {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -112px;
		border: 0 none;
	}

	a.next {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -140px;
		border: 0 none;
	}

	a.begin:hover {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left top;
		border: 0 none;
	}

	a.end:hover {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -28px;
		border: 0 none;
	}

	a.prev:hover {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -168px;
		border: 0 none;
	}

	a.next:hover {
		width: 28px;
		height: 28px;
		background: url(../images/page_btn.png) no-repeat left -196px;
		border: 0 none;
	}
}

/* Page End*/

/* Dialog */
.dialog {
	width: 400px;
	background: #FFF;
	font-size: 12px;
	h3 {
		width: 100%;
		text-align: center;
		background: #666;
		color: #FFF;
		line-height: 24px;
	}
	p {
		width: 100%;
		text-align: center;
		color: #000;
		line-height: 24px;
		padding: 30px 0;
		b {
			font-weight: bold;
			color: #F00;
		}
	}
	div {
		width: 100%;
		text-align: center;
		a {
			display: inline-block;
			width: 100px;
			height: 25px;
			background: url(../images/btn_bg1.png) no-repeat left top;
			text-align: center;
			line-height: 25px;
			font-size: 12px;
			margin: 0 20px;
		}
	}
}
/* Dialog End */

/* wrapper_inner */
.wrapper_inner {
  float: left;
  width: 750px;
  background: #fff;
  .title_bar {
	  padding: 0 15px;
	  width: 720px;
	  text-align: center;
	  line-height: 50px;
	  h3 {
		  float: left;
		  width: 670px;
		  font-weight: bold;
		  font-size: 18px;
	  }
	  a {
		  width: 50px;
		  display: block;
		  float: left;
		  height: 50px;
		  line-height: 50px;
		  background: url(../images/icon_back.png) no-repeat left top;
		  text-indent: -200px;
	  }
  }
  dl.info {
	  float: left;
	  width: 220px;
	  font-size: 12px;
	  dt {
		  font-weight: bold;
		  padding-bottom: 10px;
	  }
	  dd {
		  line-height: 22px;
		  font-weight: bold;
		  span {
			  font-weight: normal;
		  }

		  a {
			  margin-right: 8px;
			  line-height: 22px;
			  font-weight: normal;
			  color: #3366cc;
			  &:hover {
				  color: #e64e0c;
			  }
		  }
		  button {
			  border: none;
			  vertical-align: middle;
			  margin-top: 15px;
			  background: url(../images/btn_bg1.png) no-repeat left top;
			  width: 100px;
			  height: 27px;
			  text-align: center;
			  margin-right: 10px;
		  }
	  }
  }
}
#gallery {
  padding: 0 15px;
  float: left;
}

/* wrapper_inner end */

#widget-backdrop {
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#CCC;
    filter:alpha(opacity=70);
    -khtml-opacity:.7;
    -moz-opacity:.7;
    opacity:.7;
    display:none;
    position:fixed;
    z-index:501;
}
#widget-overlay {
	.busy-overlay {
		display:none;
		position:fixed;
		top:50%;
		left:50%;
		z-index:520;
		width:96px;
		height:96px;
		border:none;
		background:url(/static/common/img/busy1.gif) no-repeat;
		background-size:96px;
		margin:-48px;
	}
	.close {
		position:absolute;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		cursor:pointer;
		background:transparent url(/sta/images/icon/icon_close.png) no-repeat;
		&:hover {
			background-image:url(/sta/images/icon/icon_close.png);
		}
	}
	.widget {
		position:fixed;
		top:-9999px;
		left:-9999px;
		z-index: 1000;
		@include border-radius(10px);
		background-color:#FFF;
		padding:20px 40px;
	}
}
#widget-city-view {
	width:720px;
	height:730px;
	margin-left:-360px;
	margin-top:-300px;
	.btn {
		cursor: pointer;
	}
	.info {
		width:100%;
		margin-bottom:20px;
		.place {
			float:left;
			position:relative;
			height:42px;
			margin-right:10px;
			font-weight:700;
			padding-right:5px;
		}
		form {
			float:right;
			width:224px;
		}
		.prev {
			width:57px;
			height:57px;
			position:absolute;
			left:-28px;
			top:14px;
			background:transparent url(/static/plans/img/begintravel.png) no-repeat;
		}
		.desc {
			clear:both;
			position:relative;
			top:10px;
			height:auto;
			overflow:auto;
			color:#BDBDA3;
			font-size:12px;
			line-height:15px;
		}
		.desc .expand, .desc .shrink {
			cursor:pointer;
			color:#8C8B73;
		}
		.country {
			color:#BDBDA3;
		}
		.city a {
			font-weight:700;
			color:#52524C;
		}
		.city a:hover {
			font-style:italic;
		}
	}
	.types .suggest-theme, .types .add-place {
		float:left;
		height:56px;
		margin-left:5px;
		font-size:18px;
		line-height:56px;
		display:none;
	}
	.types {
		float:left;
		height:56px;
		margin-bottom:10px;
		.btn {
			width:56px;
			height:56px;
			float:left;
			margin-right:14px;
		}
	}
	.views {
		display:none;
		float:right;
		height:25px;
		margin-bottom:10px;
		background-color:#E6E6E6;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		padding:7px 5px 7px 15px;
	}
	.views .list {
		color:#585748;
		height:24px;
		line-height:24px;
		cursor:pointer;
		background-color:transparent;
		background-position:0 3px;
		padding:5px 15px 5px 30px;
	}
	.result-frame {
		clear:both;
		position:relative;
		.result-container {
			width:640px;
			height:520px;
			overflow:hidden;
			position:relative;
			.results {
				position:relative;
				width:680px;
				overflow:auto;
			}
			.results .connection-error {
				margin-top:100px;
				font-size:18px;
				font-weight:700;
				color:orange;
				text-align:center;
			}
			.results .place-item {
				float:left;
				position:relative;
				width:200px;
				height:160px;
				margin-right:20px;
				margin-bottom:20px;
			}
			.item-frame img {
				height: 100%;
			}
			.item-frame {
				width:100%;
				height:100%;
				overflow:hidden;
				-webkit-border-radius:10px;
				-moz-border-radius:10px;
				border-radius:10px;
				.place-add, .place-exists {
					display:none;
					position:absolute;
					top:10px;
					right:10px;
					background-color:#FDD684;
					color:#000;
					padding:5px 15px;
				}
				.place-add {
					cursor:pointer;
					z-index:10;
					&:hover {
						background-color:#FFD75A;
					}
				}
				.place-exists.shown {
					display:block;
					z-index:11;
				}
				.captain {
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					background-color:#fcfcfc;
					filter:alpha(opacity=80);
					-khtml-opacity:.8;
					-moz-opacity:.8;
					opacity:.8;
					-webkit-border-bottom-left-radius:10px;
					-webkit-border-bottom-right-radius:10px;
					-moz-border-radius-bottomleft:10px;
					-moz-border-radius-bottomright:10px;
					border-bottom-left-radius:10px;
					border-bottom-right-radius:10px;
					.place-name, .place-desc {
						height:35px;
						padding:5px 20px;
					}
					.place-name p, .place-desc p {
						color:#3F3F3F;
						font-weight:700;
						word-wrap:break-word;
						word-break:break-all;
						margin:0;
					}
					.place-name .name-zh {
						font-size:16px;
						max-height:22px;
						line-height:22px;
						overflow:hidden;
					}
					.place-name .name-en {
						font-size:12px;
						padding-left:10px;
						max-height:17px;
						line-height:17px;
						overflow:hidden;
					}
					.place-desc {
						display:none;
						overflow:hidden;
						height:55px;
						padding:0 20px;
					}
					.place-desc .desc {
						font-weight:400;
						font-size:12px;
					}
				}
				&:hover {
					.captain .place-desc, .place-add {
						display:block;
					}
				}
			}
		}
		.page {
			position:absolute;
			top:190px;
			right:0;
			.btn {
				position:relative;
				width:56px;
				height:56px;
			}
			.prev {
				background:transparent url(/sta/images/btn_up_down.png) no-repeat 0px 0px;
			}
			.next {
				top:20px;
				background:transparent url(/sta/images/btn_up_down.png) no-repeat 0px -57px;
			}
		}
	}
	.info .prev:hover
	.types .btn:hover
	.result-frame .page .prev:hover
	.result-frame .page .prev.disabled
	.result-frame .page .next:hover
	.result-frame .page .next.disabled {
		@include opacity(0.6)
	}
	.types {
		.suggest-theme a:hover, .add-place a:hover {
			color:#347cad;
		}
	}
	.result-frame .page {
		.prev.disabled, .next.disabled, .olympic-right h1 a {
			cursor:default;
		}
	}
}
#widget-city-view {
	position: absolute;
	div.types div.btn {
		float:left;
		background:url(../images/icon/menu_point.png) no-repeat;
		display:block;
		padding-top:35px;
		height:35px;
		line-height:35px;
		width: 60px;
		overflow:hidden;
		text-align:center;
		font-size:12px;
		font-weight:bold;
		color:#6889B2;
		cursor: pointer;
		&.selected {
			color:#9359A3;
			&.attraction{ background-position: 10px -74px;}
			&.hotel{ background-position: -87px -74px;}
			&.restaurant{ background-position: -186px -74px;}
			&.shop{ background-position: -283px -74px;}
		}
		&.attraction { background-position: 10px 5px;}
		&.hotel{ background-position: -87px 5px;}
		&.restaurant{ background-position: -186px 5px;}
		&.shop{ background-position: -283px 5px;}
	}
	.choose-city {
		position:absolute;
		right:120px;
		top:15px;
		z-index: 100;
	}
}
#widget-place-view {
	width:800px;
	height:600px;
	margin-left:-400px;
	margin-top:-300px;
	h3 {
		padding:5px 0;
	}
	.connection-error {
		font-size:18px;
		font-weight:700;
		color:orange;
		text-align:center;
		margin:0;
	}
	.column-left {
		float:left;
		width:500px;
		margin-right:40px;
	}
	.column-left >div {
		clear:left;
	}
	.column-right {
		float:left;
		width:260px;
	}
	.comment-frame .comment-icon-index {
		height:29px;
		margin:5px 0;
	}
	.comment-frame .comment-icon-index>div {
		float:left;
		width:24px;
		height:24px;
		border:2px solid #FFF;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
		margin-right:2px;
		cursor:pointer;
	}
	.comment-frame .comment-icon-index>div:hover, .comment-frame .comment-icon-index>div.active {
		border:2px solid #bdbda3;
	}
	.comment-frame .comment-icon-index>div img {
		width:24px;
		height:24px;
	}
	.comment-frame .comment-photo-container {
		width:500px;
		height:300px;
		overflow:hidden;
		position:relative;
		background-color:#000;
	}
	.comment-frame .comment-photo-container .comment-photos {
		position:relative;
		width:10000px;
		height:300px;
		left:50px;
	}
	.comment-frame .comment-photo-container .comment-photos .comment-photo-item {
		float:left;
		margin-right:200px;
		height:300px;
	}
	.comment-frame .comment-photo-container .comment-photos .comment-photo-item img {
		height:300px;
	}
	.comment-frame .comment-collapse {
		height:10px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		background-color:#e6e6d5;
		position:relative;
		margin:10px 0;
	}
	.comment-frame .comment-collapse .arrow {
		position:absolute;
		width:24px;
		height:24px;
		left:50%;
		margin-left:-12px;
		top:-7px;
		background:transparent url(/static/plans/img/icon-tiny-down.png) no-repeat;
	}
	.note {
		overflow:auto;
		margin:10px 0;
	}
	.note textarea, .recommend textarea {
		background:#E6E6E6;
		width:90%;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		border:2px transparent solid;
	}
	.note span, .recommend span {
		float:left;
		margin-top:10px;
		font-weight:700;
		color:orange;
		padding:10px 0 5px;
	}
	.note .btn, .recommend .btn {
		height:32px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#585749;
		background:#BDBDA3;
		text-shadow:1px 1px 0 #DADACB;
		margin-top:10px;
		margin-right:10px;
		float:left;
		padding:0 10px;
	}
	.comment-container .comment-item .portrait, .comment-container .recommendation-item .portrait {
		float:left;
		width:50px;
		margin-right:5px;
	}
	.recommendation-container .recommendation-item .portrait {
		float:left;
		width:30px;
		margin-right:5px;
	}
	.recommendation-container .recommendation-item .portrait img {
		width:25px;
		height:25px;
		margin-top:2px;
	}
	.recommendation-container .recommendation-item .recommendation-content {
		width:465px;
		float:left;
	}
	.recommendation-container .recommendation-item .recommendation-content p {
		height:auto;
		word-wrap:break-word;
		line-height:14px;
	}
	.column-right .btn {
		height:44px;
		width:80%;
		font-size:18px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#FFF;
		background:#fcc17a;
		text-shadow:1px 1px 0 #DADACB;
		margin-top:10px;
		padding:0 20px;
	}
	.column-right .btn:hover {
		background:#fee4c5;
		text-shadow:1px 1px 0 #B1B194;
	}
	.column-right .place-exists {
		height:44px;
		width:80%;
		font-size:18px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#FFF;
		background:#fcc17a;
		text-shadow:1px 1px 0 #DADACB;
		margin-top:10px;
		cursor:default;
		padding:0 20px;
	}
	.column-right .msg {
		height:1.5em;
	}
	.column-right .note .btn {
		width:auto;
		height:32px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		color:#585749;
		font-size:12px;
		background:#BDBDA3;
		text-shadow:1px 1px 0 #DADACB;
		margin-top:10px;
		margin-right:10px;
		float:left;
		padding:0 10px;
	}
	.place-info {
		margin-top:15px;
		word-wrap:break-word;
	}
	.place-info li {
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		padding:10px;
	}
	.place-info li:nth-of-type(even) {
		background-color:#e5f6fe;
	}
}
#widget-error-blocker {
	width:400px;
	height:150px;
	margin-left:-200px;
	margin-top:-75px;
	p {
		color:orange;
		font-size:18px;
		font-weight:700;
		line-height:2em;
		text-align:center;
		.refresh, .cancel {
			color:#666;
			text-decoration:underline;
			cursor:pointer;
		}
	}
}
