/*boxAuto*/
.boxAuto{ width:100%; height:100%;}
.boxAuto table{ width:100%; height:100%;}
.boxAuto table td{ vertical-align:top;}
.boxAuto .tl{ width:10px; height:5px; background:url(/sta/images/box_border_1.png) no-repeat left top;}
.boxAuto .tc{ background:#FFF;}
.boxAuto .tr{ width:10px; height:5px; background:url(/sta/images/box_border_1.png) no-repeat right -5px;}
.boxAuto .bl{ width:10px; height:10px; background:url(/sta/images/box_border_1.png) no-repeat left -10px;}
.boxAuto .bc{ width:100%; background:url(/sta/images/box_border_1.png) repeat-x left -20px;}
.boxAuto .br{ width:10px; background:url(/sta/images/box_border_1.png) no-repeat right -30px;}
.boxAuto .tcl{ width:2px; background:url(/sta/images/box_border_2.png) repeat-y left top;}
.boxAuto .tcc{ background:#FFF; padding:0;}
.boxAuto .tcr{ width:2px; background:url(/sta/images/box_border_2.png) repeat-y right top;}

/*boxAuto End*/

.filter li.result a.sel{color:#e64e0c}
.filter .cursor{position:absolute; left:35px; top:30px;}
#slider{width:915px;margin-left:40px}
